In [17]:
# importing necessary libraries 
import numpy as np
import pandas as pd

In [18]:
# loading the dataset 
data = pd.read_csv('movie_metadata.csv')

In [19]:
data.columns
# Viewing columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [20]:
data.shape
# rows X columns

(5043, 28)

In [21]:
# extracting only useful columns 
data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]

In [22]:
# Viewing top 10 rows of the dataset 
data.head(10)

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,Spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,Doug Walker,Rob Walker,NaN,Doug Walker,Documentary,Star Wars: Episode VII - The Force Awakens ...
5,Daryl Sabara,Samantha Morton,Polly Walker,Andrew Stanton,Action|Adventure|Sci-Fi,John Carter
6,J.K. Simmons,James Franco,Kirsten Dunst,Sam Raimi,Action|Adventure|Romance,Spider-Man 3
7,Brad Garrett,Donna Murphy,M.C. Gainey,Nathan Greno,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Tangled
8,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Joss Whedon,Action|Adventure|Sci-Fi,Avengers: Age of Ultron
9,Alan Rickman,Daniel Radcliffe,Rupert Grint,David Yates,Adventure|Family|Fantasy|Mystery,Harry Potter and the Half-Blood Prince

In [23]:
# Converting the ‘movie_title’ columns values to lowercase for searching simplicity.
data['movie_title'] = data['movie_title'].str.lower()

In [24]:
# Replacing '|' with whitespace in genres column 
# so it can be considered as different string
data['genres'] = data['genres'].replace('|', '  ')

In [25]:
data['movie_title'] = data['movie_title'].str[:-1]

In [26]:
# checking for missing values in each column
data.isnull().sum(axis=0)

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [27]:
# replacing missing values with 'unknown'
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')

In [28]:
# Checking again for missing values ( if anything is left)
data.isnull().sum(axis=0)

actor_1_name     0
actor_2_name     0
actor_3_name     0
director_name    0
genres           0
movie_title      0
dtype: int64

In [29]:
# Dataset Readyy!! 
data.to_csv('data.csv',index=False)